
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoSlab-Regular.ttf');
}

@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoSlab-Bold.ttf');
}

@font-face {
    font-family: 'BitterBold';
    src: url('../fonts/Bitter-Bold.ttf');
}

@font-face {
    font-family: 'CondensedLight';
    src: url('../fonts/RobotoCondensed-Light.ttf');
}

@font-face {
    font-family: 'CondensedBold';
    src: url('../fonts/RobotoCondensed-Bold.ttf');
}

@font-face {
    font-family: 'CondensedRegular';
    src: url('../fonts/RobotoCondensed-Regular.ttf');
}
